
{{> head }}
{{> navbar }}

<div class="col-8">
    <h1>
        Gohan
    </h1>
    <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro repellat nemo debitis tenetur blanditiis perferendis harum labore rerum, ab et fugit alias, dicta sequi facilis. Quasi quod accusamus at earum?
    </p>

</div>
<div class="col-4">
   <img src="assets/img/gohan.jpg" class="img-thumbnail">

</div>


{{> footer }}